<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <i class="fa-solid fa-film icon-size"></i>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" <%= link_to "Create your list", new_list_path(@list) %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" <%= link_to "Back to Playlist", lists_path %></a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
